.developer-page {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.developer-page h1, .developer-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #66fcf1;
}

.developer-page p {
    text-align: justify;
    line-height: 1.6;
}

.developer-page ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.developer-page ul li {
    margin-bottom: 10px;
    font-weight: bold;
}
  